body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #660000;
}

.conteudo {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #8C001A;
    font-size:larger;
}

h3{
    text-align: center;
    border-radius: 10px;
    padding: 8px;
    background-color: #8C001A;
    color: #fff;
    width: 40%;
}

.formulario {
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    background: #FFDBC7;
}

.campo {
    margin-bottom: 10px;
    width: 70%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 12px);
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.enviar {
    background-color: #004cff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
