@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Open+Sans:wght@700&display=swap');







* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    overflow-y: hidden;
}

.grid {
	display: grid;
    background-color: #660000;
    
    z-index: 0;
}


.grid-template-columns-1 {
	grid-template-columns: minmax(10%, 1fr) 1fr 1fr;
    padding: 20px;
    height: 180px;
    z-index: 0;
}



#txtbusca{
    padding: 5px 4px 0 14px;
    flex: 1;
    display: flex;
    background-color: #FFCECE;
    margin: auto;
    margin-top: 70px ;
    height: 5vh;
    width: 40vw;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    z-index: 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

#btnbusca{
    margin-top: 5px;
    padding-left: 60px;
    z-index: 0;
}

#titulo_logo{
    color: white;
    text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
    font-family: 'Lobster', sans-serif;
    margin-top: 2px;
    padding-left: 65px;
    z-index: 0;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

#icone_busca{
    flex: 0 0 auto;
    padding-right: 13px;
    z-index: 1;
}
button{
    background-color: transparent;
    border: none;
}
.fa-magnifying-glass{
    position: absolute;
      top: 125px;
      right: 31%;
      transform: translateY(-50%);
      color: #660000;
      font-size: x-large;
}

.fa-cart-shopping{
    position: absolute;
    color: white;
    top: 110px;
    right: 25%;
    font-size: xx-large;
}

.fa-heart{
    position: absolute;
    color: white;
    top: 110px;
    right: 20%;
    font-size: xx-large;
}

.fa-gear{
    position: absolute;
    color: white;
    top: 110px;
    font-size: xx-large;
    right: 15%;
}

.foto_de_perfil{
    position: absolute;
    top: 85px;
    right: 5%;
}

.mid-section{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.separador{
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 85%;
    width: 90%;
}
.Escolha{
    display: flex;
    background-color: rgb(233, 233, 233);
    height: 90%;
    width: 30%;
}

.left{
    flex-direction: column;
    background-image: url(img/camisa.jpg);
    background-size: cover;
    background-position: center;
    justify-content: end;
}

.right{
    flex-direction: column;
    background-image: url(img/design.jpg);
    background-size: cover;
    background-position: center;
    justify-content: end;
}
.mid{
    flex-direction: column;
    background-image: url(img/freela.jpg);
    background-size: cover;
    background-position: center;
    justify-content: end;

}
.busca{
    border: thin solid black;
    width: 100%;
    height: 60px;
}