@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Open+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans','Lobster', sans-serif;
    list-style: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
}

body{
    color: #1e1c2a;
    background: #660000;
}

main{
    display: flex;
    padding: 4% 350px;
}
header{
    display: flex;
    align-items: center;
    padding-left: 163px;
    padding-top: 12px;

}
#ember {
    padding-left: 15px;
    color: #FFFFFF;
    font-family: 'Lobster';
}
.loginBloco {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 89px;
    margin-left: 468px;
    padding-left: 168px 63px;
    width: 168px;
    height: 63px;
    border-radius: 10px;
    background-color: #660000;
    color: #ffffff;
}
.login {
    padding-left: 43px;
}
.container{
    position: absolute;
    width: 1103px;
    height: 663px;
    background-color: #FFDBC7;
    border-radius: 50px;

}
.email{
    padding-left: 340px;
}
#email{
    height: 37px;
    width: 424px;
    padding-left: 8px;
    border-radius: 50px;
    background-color: #FFDBC7;
    font-size: 16px;
    border-style:double;
}
.senha  {
    padding-left: 340px;
    border-radius: 50px;
}
#senha {
    height: 37px;
    width: 424px;
    padding-left: 8px;
    border-radius: 50px;
    background-color: #FFDBC7;
    font-size: 16px;
    border-style:double;
}
.tituloemail{
    padding-left: 340px;
    padding-top: 238px;
}
.titulosenha  {
    padding-left: 340px;
    padding-top: 21px;
}
.manterconect{
    padding-left: 340px;
    font-weight: 600;
    font-size: 15px;
}
.checkboxconect{
    padding-left: 345px;
}
.esqueceusenha {
    padding-left: 320px;
    font-size: 16px;
    color: #00A3FF;
}
#botao{
    margin-left: 183px;
    width: 131px;
    height: 68px;
    border-radius: 10px;
    background-color: #00A3FF;
    border-color: #00A3FF;
    color: #FFFFFF;
}