@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Open+Sans:wght@700&display=swap');







body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.grid {
	display: grid;
    background-color: #660000;
    
    z-index: 0;
}

.grid-template-columns-1 {
	grid-template-columns: minmax(10%, 1fr) 1fr 1fr;
    padding: 20px;
    height: 180px;
    z-index: 0;
}



#txtbusca{
    padding: 5px 4px 0 14px;
    flex: 1;
    display: flex;
    background-color: #FFCECE;
    margin: auto;
    margin-top: 70px ;
    height: 5vh;
    width: 40vw;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    z-index: 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

#btnbusca{
    margin-top: 30px;
    padding-left: 60px;
    z-index: 0;
}

#titulo_logo{
    color: white;
    text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
    font-family: 'Lobster', sans-serif;
    margin-top: 10px;
    padding-left: 65px;
    z-index: 0;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

#icone_busca{
    flex: 0 0 auto;
    padding-right: 13px;
    z-index: 1;
}
button{
    background-color: transparent;
    border: none;
}
.fa-magnifying-glass{
    position: absolute;
      top: 125px;
      right: 31%;
      transform: translateY(-50%);
      color: #660000;
      font-size: x-large;
}

.fa-cart-shopping{
    position: absolute;
    color: white;
    top: 110px;
    right: 25%;
    font-size: xx-large;
}

.fa-heart{
    position: absolute;
    color: white;
    top: 110px;
    right: 20%;
    font-size: xx-large;
}

.fa-gear{
    position: absolute;
    color: white;
    top: 110px;
    font-size: xx-large;
    right: 15%;
}

.foto_de_perfil{
    position: absolute;
    top: 85px;
    right: 5%;
}


main{
    height: 565px;
    background-color: #ffdbc7;
    z-index: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-width: 320px;
    max-width: 1920px;
}

.promocao_de_ofertas{
    background-color: #d9d9d9;
    width: 1230px;
    height: 261px;
    z-index: 1;
    margin: auto;
    margin-top: 30px;
    display: absolute;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}





section.camisa01{
    transform: rotate(15deg);
}
#oferta_promocional{
    position: absolute;
    font-size: 50px;
    margin: 20px;
    margin-left: 40px;
    top: 290px;
    color: #990033;
    font-family: 'Lobster', sans-serif;
    font-weight: bold;
    
}


#promocoes{
    background-color: #990033;
    width: 145px;
    height: 214px;
    transform: rotate(15deg);
    margin-left: 400px;
    margin-top: 25px;
}

#camisa01{
    transform: rotate(-6.5deg);
    margin-left: -10px;
    margin-top: -8px;
}

#promo{
    background-color: #990033;
    width: 150px;
    height: 240px;
    float: left;
    margin-left: 630px;
    margin-top: -225px;
    margin-bottom: 50px;
   
}

#camisa_central{
    width: 159px;
    height: 249px;
    transform: rotate(-1.1deg);
    margin-left: -3.9px;
}

#promoc{
    background-color: #990033;
    width: 145px;
    height: 214px;
    margin-left: 850px;
    margin-top: -215px;
    transform: rotate(-15deg);
    
}

#camisa_direita{
    transform: rotate(11.5deg);
    margin-left: -25px;
    margin-top: -13px;
}

#linha_separacao{
    position: absolute;
    width: 200px;
    margin-left: 180px;
    top: 362px;
    transform: rotate(90deg);
    color: black;
    border: 0.1px solid black;
}

.grid{
    display: grid;
    
}

.grade{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.Oversized{
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    background-color: #990033;
    position: absolute;
    top: 530px;
    margin-left: 335px;
}

.oversized_mostruario{
    width: 100px;
    margin-left: 45px;
}

#titulo_oversized{
    position: absolute;
    background-color: #d9d9d9;
    width: 208px;
    height: 65px;
    top: 680px;
    margin-left: 330px;
    border-radius: 10px;
}

.titulo_oversized{
    margin: 40px;
    margin-top: 13px;
    font-family: 'Lobster', sans-serif;
}

.Estampas{
    border-radius: 100%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    background-color: #990033;
    position: absolute;
    top: 530px;
    margin-left: 680px;
}

.foto_estampas{
    width: 90px;
    margin-left: 60px;
    margin-top: 15px;
}

#titulo_estampas{
    position: absolute;
    background-color: #d9d9d9;
    width: 208px;
    height: 65px;
    top: 680px;
    margin-left: 678px;
    border-radius: 10px;
}

.titulo_estampas{
    margin: 45px;
    margin-top: 13px;
    font-family: 'Lobster', sans-serif;
}


.Moletom{
    border-radius: 100%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    background-color: #990033;
    position: absolute;
    top: 530px;
    margin-left: 1030px;
}


#titulo_moletom{
    position: absolute;
    background-color: #d9d9d9;
    width: 208px;
    height: 65px;
    top: 680px;
    margin-left: 1028px;
    border-radius: 10px;
}

.titulo_moletom{
    margin: 50px;
    margin-top: 13px;
    font-family: 'Lobster', sans-serif;
}

.foto_de_moletom{
    width: 120px;
    margin-left: 45px;
    margin-top: 0px;
}

.Outros{
    border-radius: 100%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    background-color: #990033;
    position: absolute;
    top: 530px;
    margin-left: 1380px;
}

#titulo_outros{
    position: absolute;
    background-color: #d9d9d9;
    width: 208px;
    height: 65px;
    top: 680px;
    margin-left: 1378px;
    border-radius: 10px;
}

a{
    color: black;
    text-decoration: none;
}

.titulo_outros{
    margin: 65px;
    margin-top: 13px;
    font-family: 'Lobster', sans-serif;
}

.itens_variados{
    width: 180px;
    margin-left: 14px;
    margin-top: -5px;
}

footer{
    height: 170px;
    background-image: linear-gradient(to bottom, #5F021F,#990033 );
}