*{
    margin:0;
    padding: 0;
}

body{
    background-color: #660000;
    height: 100vh;
    box-sizing: border-box;
}

main{
    background-color: #FFDBC7;
}

header{
    background-color: 660000;
    padding: 10px;
}

.menu{
    display: flex;
    justify-content: space-between;
}

#iconeEmber{
    width: 3%;
    height: 3%;
}

.fotosCamisa{
    display: flex;
    justify-content: center;

}

#fotoFreela{
    border-radius: 50%;
    margin: 0px;
    position: relative;
    height: 60px;
    width: 60px;
    text-align: right;
}

.nomesPessoas{
    padding-bottom: 10%;
}


.imagens{
    display: flex;
    height: 20rem;
    width: 20rem;
}


.pessoas{
    display: flex;
    justify-content: center;
}

.elementos-de-foto{
    flex: auto;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.nome-texto{
    flex-direction: column-reverse;
}

h1{
    font-size: 1rem;
}

.botoes{
    margin: 10px;
    background-color: #660000;
    color: aliceblue;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    width: 90px;
}