@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Open+Sans:wght@700&display=swap');







* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    overflow-y: hidden;
}

.grid {
	display: grid;
    background-color: #660000;
    
    z-index: 0;
}


.grid-template-columns-1 {
	grid-template-columns: minmax(10%, 1fr) 1fr 1fr;
    padding: 20px;
    height: 180px;
    z-index: 0;
}



#txtbusca{
    padding: 5px 4px 0 14px;
    flex: 1;
    display: flex;
    background-color: #FFCECE;
    margin: auto;
    margin-top: 70px ;
    height: 5vh;
    width: 40vw;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    z-index: 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

#btnbusca{
    margin-top: 5px;
    padding-left: 60px;
    z-index: 0;
}

#titulo_logo{
    color: white;
    text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
    font-family: 'Lobster', sans-serif;
    margin-top: 2px;
    padding-left: 65px;
    z-index: 0;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

#icone_busca{
    flex: 0 0 auto;
    padding-right: 13px;
    z-index: 1;
}
button{
    background-color: transparent;
    border: none;
}
.fa-magnifying-glass{
    position: absolute;
      top: 125px;
      right: 31%;
      transform: translateY(-50%);
      color: #660000;
      font-size: x-large;
}

.fa-cart-shopping{
    position: absolute;
    color: white;
    top: 110px;
    right: 25%;
    font-size: xx-large;
}

.fa-heart{
    position: absolute;
    color: white;
    top: 110px;
    right: 20%;
    font-size: xx-large;
}

.fa-gear{
    position: absolute;
    color: white;
    top: 110px;
    font-size: xx-large;
    right: 15%;
}

.foto_de_perfil{
    position: absolute;
    top: 85px;
    right: 5%;
}

.secaoMeio{
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 500px;
    padding-top: 2%;
    padding-left: 8%;
    
}
.containerMain{
    border-radius: 10px;
    background-color: #990033;
    height: 93%;
    width: 90%;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
}

.contLeft{
    flex: 25%;
    height: 100%;
    width: 10%;
    background-image: url(img/over\ branca.jpg);
    background-size: contain;
    border: 18px solid #990033;
}
.contMid{
    border-radius: 5px;
    flex: 25%;
    height: 100%;
    width: 10%;
    background-image: url(img/over\ preta.jpg);
    background-size: cover;
    
    border: 18px solid #990033;
}
.contRight{
    flex: 25%;
    height: 100%;
    width: 10%;
    background-image: url(img/over\ cinza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 18px solid #990033;
}

.contEnd{
    flex: 25%;
    height: 100%;
    width: 10%;
    background-image: url(img/over\ roxa.jpg);
    background-size: cover;
    background-position: center;
    border: 18px solid #990033;
}

.botoesMeio{
    background-color: rgb(255, 215, 224);;
    margin-top: 104%;
    height: 70px;
    width: 100%;
    border: none;

}

.botoesMeio:hover{
    background-color: rgb(227, 227, 227);
    border-bottom: 5px solid #660000;
}

.textBut{
    color: #990033;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Bebas Neue';

}

.barra-footer{
    height: 150px;
    display: flex;
    flex-direction: column;
}

#botaoEmber{
    text-decoration: none;
    color: white;
}

#botaoBuscar{
    text-decoration: none;
    color: #990033;
}

.footer{
    height: 50%;
    width: 100%;
}

.baixo{
    justify-items: center;
    text-align: center;
    background-color: #c00040;
}
.cima{
    background-color: #990033;
}